@import '../../Assets/SCSS/Variables.scss';
@import '../../Assets/SCSS/Mixins.scss';
* {
  @include start-setings;
}
#SingleService {
  @include font;
  border: 1px solid gray;
  margin: 5px;
  width: 100%;

  #icon {
    color: white;
    background-color: #ffe107;
    padding: 5%;
    font-size: 40px;
    border-radius: 20px;
    margin: 1% auto;
  }
}
.ServicesComponent {
  padding: $page-padding;
  @include font;

  h1 {
    text-align: center;
  }
  .ServiceItems {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
  }
}
