$main-font: 'Quicksand', sans-serif;
$dark-bg: #101010;
$light-bg: white;
$main-color: white;
$secondary-color: black;
$heading-fs: 40px;
$heading-sm-fs: 34px;
$heading-fw: 500;
$subheading-fs: 36px;
$subheading-sm-fs: 30px;
$subheading-fw: 500;
$h1-fs: 38px;
$h1-fw: 500;
$h1-sm-fs: 32px;
$h2-fs: 34px;
$h2-fw: 500;
$h2-sm-fs: 30px;
$text-fs: 22px;
$text-fw: 300;
$main-btn-color: #ffe107;
$hover-btn-color: #ffd107;
$main-btn-fs: 24px;
$main-btn-sm-fs: 20px;
$main-btn-fw: 500;
$btn-padding: 0.5% 1%;
$page-padding: 3% 15%;
