@import '../../Assets/SCSS/Variables.scss';
@import '../../Assets/SCSS/Mixins.scss';
* {
  @include start-setings;
}

.PortfolioComponent {
  padding: $page-padding;
  font-family: $main-font;
  h1 {
    text-align: center;
    margin-bottom: 3%;
  }

  .PortfolioItems {
    display: flex;
    flex-wrap: wrap;

    .card-text {
      text-align: center;
    }
    .card {
      border: none;
      padding: 1%;
      margin: 0.5% 0%;
    }
  }
}

@media (max-width: 568px) {
  .PortfolioComponent {
    padding: 5% 5% !important;
  }
}
