@import '../../Assets/SCSS/Variables.scss';
@import '../../Assets/SCSS/Mixins.scss';

* {
  @include start-setings;
}

.ContactForm {
  background-image: url('../../Assets/Images/Contact/map-image.webp');
  background-position: center center;
  background-size: cover;
  background-color: $dark-bg;
  color: $main-color;
  font-family: $main-font;
  form {
    height: 92vh;
    padding: 5% 30%;
    margin-right: auto;

    h1 {
      text-align: center;
      font-size: $h1-fs;
    }
    #name,
    #email,
    #message {
      width: 100%;
      outline: none;
      border: 2px solid black;
      padding: 2%;
    }
    #message {
      height: 25vh;
      box-shadow: none;
    }
    #submitButton {
      background-color: $main-btn-color;
      font-size: $main-btn-fs;
      font-weight: $main-btn-fw;
      padding: 0.5% 2%;
      color: $main-color;
      width: fit-content;
      height: fit-content;
      border-radius: 10px;
      border: 2px solid black;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-around;
    }
    #submitButton:hover {
      background-color: $hover-btn-color;
    }
  }
}
@media (max-width: 768px) {
  .ContactForm {
    form {
      padding: 13% 2%;
    }
    h1 {
      font-size: $h1-sm-fs !important;
    }
    #submitButton {
      font-size: $main-btn-sm-fs !important;
    }
  }
}
