@import '../../Assets/SCSS/Variables.scss';
@import '../../Assets/SCSS/Mixins.scss';

.Navbar {
  nav {
    padding-top: 0% 10%;
    font-family: $main-font;
    height: fit-content; //9vh
    background-color: #fff108 !important;
    .logo {
      width: 35%;
      height: 35%;
    }
    #navItems {
      margin-right: 200px;
      font-weight: $heading-fw;
    }
    ul li {
      padding-right: 15%;
    }
  }
}
@media (max-width: 768px) {
  .Navbar {
    .logo {
      height: 50px !important;
      width: 70px !important;
    }
    #navItems {
      margin-right: 0px !important;
    }
    ul li {
      padding-right: 4% !important;
    }
  }
}
