@import '../../Assets/SCSS/Variables.scss';
@import '../../Assets/SCSS/Mixins.scss';

* {
  @include start-setings;
}
.Navbar {
  nav {
    font-family: $main-font;
    height: fit-content; //9vh
    background-color: #fff108 !important;

    .logo {
      width: 35%;
      height: 35%;
    }
    #navItems {
      margin-right: 300px;
      font-weight: $heading-fw;
      color: black !important;

      li:hover {
        transition: ease all 0.35s;
        transform: scale3d(1.1, 1.1, 1.8);
      }
    }
    button {
      outline: none;
      border: none;
    }
    .fa-1x {
      font-size: 1.6rem;
      color: black;
    }
    ul li {
      padding-right: 15%;
    }
  }
}

@media (max-width: 768px) {
  .Navbar {
    .logo {
      height: 50px !important;
      width: 70px !important;
    }
    #navItems {
      margin-right: 0px !important;
      li:hover {
        transition: none !important;
        transform: scale3d(1, 1, 1) !important;
      }
    }
    ul li {
      padding-right: 4% !important;
    }
  }
}
