@import '../../Assets/SCSS/Variables.scss';
@import '../../Assets/SCSS/Mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Footer {
  padding: 0%;
  height: 10vh;
  color: $main-color;
  font-family: $main-font;
  background-color: #fff108;
  #socialMedia a {
    color: black !important;
    outline: none !important;
    border: none !important;
  }
  #fbBtn,
  #mailBtn,
  #twBtn,
  #igBtn,
  #lnBtn,
  #ghBtn:active {
    outline: none !important;
    border: none !important;
  }
  #copyright {
    background-color: #fff108;
    color: black !important;
    #copyrightName {
      text-decoration: none !important;
      color: black !important;
    }
  }
  .container {
    background-color: #fff108 !important;
  }
}
